@model List<WelcomeMessage>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @foreach(var message in Model)
    {
        <p>@message.Message</p>
    }
    
    
</div>
